<h1 class="posts-new-title">Create New Post</h1>

<%= form_for @post do |f| %>
  
  <div>
    <%= f.text_field :title, placeholder: "Title" %>
  </div>

  <div class="new-post-description">
    <%= f.text_area :description, placeholder: "Description" %>
  </div>

  <div>
    <%= f.date_field :post_date, placeholder: "Date" %>
  </div>

  <div class="image-uploadcare-button">
    <h6 class="new-post-image-text-for-button">Add Your Own Post Image!</h6>
    <%= f.hidden_field :image, role: "uploadcare-uploader" %>
  </div>
  
  <div class="new-post-button">
  <%= f.submit "Create Post" %>
  <div>

<% end %>

   
 